<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <form wicket:id="addBranchForm">
        <span wicket:id="label"></span>
        <span wicket:id="autocomplete"></span>
        <button type="button" wicket:id="add">Add</button>
        <button type="button" wicket:id="addAll">Add All Matching</button>
        <span wicket:id="feedback"></span>
    </form>

</wicket:panel>
</body>
</html>