<configuration scan="true" scanPeriod="60 seconds" debug="true">
	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- in the absence of the class attribute, it is assumed that the
				desired discriminator type is
				ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>logName</key>
			<defaultValue>main</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${logName}" class="ch.qos.logback.core.FileAppender">
				<file>logs/${logName}.log</file>
				<append>false</append>
				<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
					<layout class="krasa.core.backend.RoutingLayout">
						<layoutRoute>
							<loggerName>build.output</loggerName>
							<layout class="ch.qos.logback.classic.PatternLayout">
								<pattern>%d{HH:mm:ss}: - %m%n</pattern>
							</layout>
						</layoutRoute>
						<defaultLayout class="ch.qos.logback.classic.PatternLayout">
							<pattern>%d{HH:mm:ss} %5p %c{1} [%t]: - %m%n</pattern>
						</defaultLayout>
					</layout>
				</encoder>
				<filter class="ch.qos.logback.classic.filter.LevelFilter">
					<level>DEBUG</level>
					<onMatch>DENY</onMatch>
					<onMismatch>ACCEPT</onMismatch>
				</filter>
				<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<maxFileSize>15MB</maxFileSize>
				</triggeringPolicy>
			</appender>
		</sift>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>%d{HH:mm:ss} %5p %c{1} [%t]: - %m%n</Pattern>
			</layout>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/log.log</file>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>%d{HH:mm:ss} %5p %c{1} [%t]: - %m%n</Pattern>
			</layout>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="SIFT"/>
	</root>

	<logger name="build.output" additivity="false">
		<appender-ref ref="SIFT"/>
	</logger>


	<logger name="krasa" level="debug"/>
	<logger name="krasa.build.backend.execution.adapter.CurrentBuildJobsHolder" level="info" />
	<logger name="org.apache.wicket.atmosphere" level="warn"/>
	<logger name="org.apache.http" level="info"/>
	<!--<logger name="org.hibernate.SQL" level="debug"/>-->
	<logger name="org.apache.wicket.atmosphere.EventBus" level="warn"/>

</configuration>