<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"

	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	   xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">


	<context:component-scan base-package="krasa"/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
	<!--<bean id="wicketApplication" class="krasa.core.frontend.WicketApplication"/>-->


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
		<property name="url" value="jdbc:hsqldb:file:db.hsqldb"/>
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>

	<util:properties id="hibernateProperties">
		<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
	</util:properties>


	<!-- setup transaction manager  -->
	<bean id="txManager"
		  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="interceptor" class="org.hibernate.EmptyInterceptor">
	</bean>

	<!-- hibernate session factory -->
	<bean id="sessionFactory"
		  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.connection.pool_size">5</prop>
				<!--<prop key="hibernate.current_session_context_class">thread</prop>-->
				<prop key="hibernate.show_sql">false</prop>
				<!--<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>-->
				<!--<prop key="hibernate.cache.provider_class">org.hibernate.search.store.RAMDirectoryProvider</prop>-->
				<prop key="hibernate.hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
		<property name="entityInterceptor" ref="interceptor"/>
		<property name="packagesToScan">
			<list>
				<value>krasa.merge.backend.domain</value>
				<value>krasa.*.backend.domain</value>
			</list>
		</property>
	</bean>


</beans>