<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           
           
           	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<!--<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>-->
	<!--<bean id="wicketApplication" class="krasa.core.frontend.WicketApplication"/>-->

	<util:properties id="hibernateProperties">
		<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
	</util:properties>


	<!-- setup transaction manager  -->
	<bean id="txManager"
		  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="interceptor" class="org.hibernate.EmptyInterceptor">
	</bean>

	<!-- hibernate session factory -->
	<bean id="sessionFactory"
		  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.connection.pool_size">5</prop>
				<!--<prop key="hibernate.current_session_context_class">thread</prop>-->
				<prop key="hibernate.show_sql">false</prop>
				<!--<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>-->
				<!--<prop key="hibernate.cache.provider_class">org.hibernate.search.store.RAMDirectoryProvider</prop>-->
				<prop key="hibernate.hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
		<property name="entityInterceptor" ref="interceptor"/>
		<property name="packagesToScan">
			<list>
				<value>krasa.merge.backend.domain</value>
				<value>krasa.build.backend.domain</value>
				<value>krasa.core.backend.domain</value>
				<value>krasa.release.domain</value>
				<value>krasa.merge.backend.service.automerge</value>
			</list>
		</property>
	</bean>


	<beans profile="!IN_MEMORY">
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
			<property name="url" value="jdbc:hsqldb:file:db.hsqldb;hsqldb.tx=mvcc"/>
			<!--<property name="url" value="jdbc:hsqldb:hsql//localhost/svnmergeinfo"/>-->
			<property name="username" value="sa"/>
			<property name="password" value=""/>
		</bean>
	</beans>

	<beans profile="IN_MEMORY">
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
			<property name="url" value="jdbc:hsqldb:mem:aname"/>
			<property name="username" value="sa"/>
			<property name="password" value=""/>
		</bean>
	</beans>

</beans>