<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

<wicket:head>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script type="text/javascript" src="syntaxhighlighter_3.0.83/scripts/shBrushDiff.js"></script>
    <link type="text/css" rel="stylesheet" href="syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
</wicket:head>


<wicket:panel>

    <pre class="brush: diff;" wicket:id="diff"></pre>
    <center>

        <form wicket:id="form">
            <button wicket:id="merge">Merge</button>
            <button wicket:id="mergeSvnMergeInfoOnly">Merge MergeInfo Only</button>
            <button wicket:id="close">Close</button>
        </form>
    </center>
</wicket:panel>
</body>
</html>

