<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"

      xmlns="http://www.w3.org/1999/xhtml"

      xml:lang="en"
      lang="en">
<body>
<wicket:panel>
    <h3>Merges</h3>
    <span wicket:id="list">
    <ul class="nav">
        <li wicket:id="item">
            <a href="#" wicket:id="link">
                <span wicket:id="status"></span>
                <br/><span wicket:id="startTime"></span>-<span wicket:id="endTime"></span>
                <br/>
                <span wicket:id="from"></span> <br/>->
                <span wicket:id="to"></span> <br/>
                <span wicket:id="caller"></span> <br/>
            </a>
        </li>
    </ul>
    </span>

</wicket:panel>
</body>
</html>