<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

	<display-name>SVNMergeInfo</display-name>


	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>krasa.core.backend.config.MainConfig</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>MyApplication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				krasa.release
			</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.scanning.recursive</param-name>
			<param-value>true</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>MyApplication</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<display-name>websocket-app</display-name>

	<filter>
		<filter-name>wicket.websocket</filter-name>
		<filter-class>org.apache.wicket.protocol.ws.jetty9.Jetty9WebSocketFilter</filter-class>
		<!--<filter-class>org.apache.wicket.protocol.http.Tomcat7WebSocketFilter</filter-class>-->
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>krasa.core.frontend.WicketApplication</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket.websocket</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
